* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary: #7749f8;
  --primary-light: #9775fa;
  --dark: #212529;
  --light: #f8f9fa;
  --gray: #868e96;
  --danger: #fa5252;
  --success: #40c057;
  --border: #e9ecef;
}

body {
    font-family: sans-serif;
    background-color: #f1f3f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--dark);
    
}

.app{
    width: 100%;
    max-width:500px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    

}
header{
    background-color: var(--primary);
    color: white;
    padding:20px 25px; 
}
header h1{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}
.todo-input{
    display: flex;
    padding:20px 25px;
    gap:10px;
    background-color: var(--light);
    border-bottom: 1px solid var(--dak);
}
.todo-input input{
    flex:1;
    padding:12px 15px;
    font-size: 1rem;
    border:2px solid #dee2e6;
    transition: all 0.2s;
    border-radius: 7px;
}
.todo-input input:focus{
    outline:none;
    border-color:var(--primary);
    box-shadow:0 0 0 3px rgba(119,73,248,0.15)
}
.todo-input button{
    background-color: var(--primary);
    width:45px;
    height:45px;
    border:none;
    color:var(--light);
    border-radius:7px;
    cursor: pointer;
    transition: all 0.2s;
}

.todo-input button:hover{
    background-color: var(--primary-light);
}

.filters{
    display:flex;
    gap:15px;
    padding:10px 25px;
    border-bottom: 1px solid var(--border);
}
.filter{
    color: var(--gray);
    padding:5px 3px;
    border-bottom: 2px solid transparent ;
    cursor: pointer;
    transition: all 0.2s;
}
.filter:hover{
    color: var(--primary);
}
.filter.active{
    border-bottom: 2px solid var(--primary-light);
    font-weight: 500;
    color: var(--primary);
}
.todos-container{
    padding:15px 0px;
    max-height: 200px;
    overflow-y: auto;
}
#todos-list{
    list-style-type:none;
}

.todo-item{
    padding:12px 15px;
    display:flex;
    align-items: center;
    transition:background-color 0.2s;
}

.todo-item:hover{
    background-color: var(--light);
}

.checkbox-container{
    margin-right:15px;
}
.todo-checkbox{
    opacity:0;
    position:absolute;
}
.checkmark{
    display:inline-block;
    width:20px;
    height:20px;
    border:2px solid #dee2e6;
    border-radius: 4px;
    position:relative;
    cursor:pointer;
    transition:all 0.2s;
}
.todo-checkbox:checked + .checkmark{
    background-color: var(--success);
    border-color: var(--success);
}
.todo-checkbox:checked +.checkmark::after{
    content: "";
    position:absolute;
    left:5px;
    top:1px;
    width: 5px;
    height:11px;
    border:solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.todo-item-text{
    flex:1;
    font-size:1rem;
    transition:all 0.2s;
}
.todo-iteem.completed .todo-item-text{
    text-decoration:line-through;
    color:var(--gray);
}
.delete-btn{
    background:none;
    border:none;
    color:var(--gray);
    cursor:pointer;
    font-size:16px;
    opacity:1;
    transition:all 0.2s;
}

.todo-item:hover .delete-btn{
    opacity:1;
}
.delete-btn:hover{
    color:var(--danger);
}

.empty-state{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--gray);
    padding:40px 0;
}
.empty-state i{
    margin-bottom: 10px;
    font-size: 40px;
    opacity: 0.7;
}
.hidden{
    display: none;
}
footer{
    display:flex;
    justify-content: space-between;
    border-top: 1px solid var(--border);
    padding:15px 25px;
    background-color: var(--light);
    font-size: 15px;
}
#items-left{
    color:var(--gray);
}

#clear-completed{
    cursor:pointer;
    color:var(--gray);
    border: none;
    background:none;
    font-size: 14px;
    transition: all 0.2s;
}
#clear-completed:hover{
    color:var(--danger)
}
